body {
  background-color: darken(#252b37, 4%);
}

.content {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

  .login-content {
    .back_light(@y, @spread, @colorA, @colorB, @duration) {
      @keyframes animateGlow {
        0% {
          background-position: 0% 50%;
        }

        50% {
          background-position: 100% 50%;
        }

        100% {
          background-position: 0% 50%;
        }
      }

      &::after {
        position: absolute;
        content: '';
        top: @y;
        right: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: linear-gradient(270deg, @colorA, @colorB);
        background-size: 200% 200%;
        filter: blur(@spread);
        animation: animateGlow 3s ease infinite;
      }
    }

    .login-form-main {
      position: relative;
      width: 350px;
      height: 400px;
      min-width: 300px;
      background-color: #151823;
      animation: textColor 10s ease infinite;
      .back_light(20px, 1.9vw,#0fffc1, #6600ff, 10s);

      .login-avatar {
        position: relative;
        top: 30px;
        left: 50%;
        z-index: 1;
        width: 100px;
        height: 100px;
        margin-left: -50px;
        background-size: contain;
        border-radius: 50%;

        &:hover {
          transform: rotate(666turn);
          transition: all 59s cubic-bezier(0.34, 0, 0.84, 1) 0.2s;
        }
      }

      .form-main {
        position: relative;
        top: 80px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
